:root {
	--green: #17be9a;
	--text-color: #837c7c;
}

html {
	font-size: 62.5%;
}

*,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	padding: 4rem 2rem;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
}
